<ion-tabs class="tabs-icon-top tabs-dark tabs-color-assertive">

  <ion-tab title="Favoritos" icon-off="ion-ios-star-outline" icon-on="ion-ios-star" href="#/app/favorites">
    <ion-nav-view name="favorites"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Pedalar!" icon-off="ion-ios-circle-filled" icon-on="ion-ios-circle-filled" href="#/app/ride">
    <ion-nav-view name="ride"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Rotas" icon-off="ion-ios-flag-outline" icon-on="ion-ios-flag" href="#/app/routes">
    <ion-nav-view name="routes"></ion-nav-view>
  </ion-tab>

</ion-tabs>
